*{  margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, Tahoma, Arial, Sans-serif;
}
body{
    background-color: #eff0f5;
}
header{
    border-bottom:#cacaca ;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #ffffff;
}
.logo{
    height: 50px;
    width: 150px;
    padding-left: 15px;
}
.categories ul{
    display: flex;
    margin-left: 120px;
    
}
.categories ul li{
    padding: 20px 0px 0px 15px;
}
.pages ul{
    display: flex;
    margin-left: 200px;

}
.pages ul li{
    padding: 20px 0px 0px 10px;
}

/*section*/
.sale{
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 60px ;
}

.section{
    height: 340px;
    background-color: #ffffff;
    width: 1250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}
.section2{
    width: 1060px;
    height: 280px;
    margin: 40px 0px 0px 65px;
    display: flex;
    padding: 30px;

}
.image{
    width: 250px;
    height: 250px;
    margin-right: 20px;
}




/*footer*/
footer{
    height: 120px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
}
.container3{
    display: flex;
}
.links{
    display: flex;
    margin-top: 10px;
}
.one{
    width: 200px;
    padding: 30px 0px 0px 300px ;
}
.two{
    width: 200px;
    padding: 40px 0px 0px 300px ;
}
.one ul a li{
    padding-right: 15px;
}
a{
    color: #252f7b;
}
a:hover{
    color: #f95031;
}

@media  screen and (max-width: 1275px ) {
   
}